<div class="header">
    <div class="Logo">
        <img src="~/Img/logo-adres.svg" height="40px" />
    </div>
    <div class="Menus">
        <ul class="navbar-nav">
            <li class="nav-item">
                Crear
            </li>
            <li class="nav-item">
                editar
            </li>
            <li class="nav-item">
                editar
            </li>
            <li class="nav-item">
                Historico
            </li>
        </ul>
    </div>

</div>
<div class="Contenidos-info">
</div>
<script src="~/js/Contenido.js"></script>